:root {
    --main-color: #1C7178;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

h1, a, p, button, input, label {
    font-family: "Noto Sans";
}

.pageFrame {
    width: 24.5625rem;
    height: 53.25rem;
    background: var(--color-app-bg, #FEFEFE);
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    /* display: grid;
    grid-template-columns: 160px 1fr; */
    overflow: hidden;
}

.vertical-grid {
    display: grid;
    grid-template-columns: 160px 1fr;
}

/* .horizontal-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 160px auto;
} */

.verticalBanner {
    width: 7.5rem;
    height: 60rem;
}

.horizontalBanner {
    width: 7.5rem;
    height: 60rem;
    transform: rotate(90deg);
}

h1 {
    /* display: flex; */
    /* width: 13.8125rem; */
    /* flex-direction: column; */
    /* flex-shrink: 0; */
    color: #7A2D25;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.bottom-navbar {
    width: 24.5625rem;
    height: 5rem;
    background: #252525;
    filter: drop-shadow(0px -10px 25px rgba(0, 0, 0, 0.25));
}

.bottom-navbar ul {
    text-align: center;
    line-height: 5rem;
}

.bottom-navbar li {
    display: inline-block;
    padding: 0 20px;
}

.bottom-navbar a {
    color: #FEFEFE;
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-btn-ico {
    width: 1.875rem;
    height: 1.875rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #7A2D25;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px #FFCA3C solid;
}

.horizontal-divider {
    width: 2.5rem;
    height: 0.375rem;
    border-radius: 6.25rem;
    background: #772D24;
    margin-top: 2.75rem;
}

/* add book page styling */
#addBook p {
    text-transform: uppercase;
}

#addBook p:nth-child(2) {
    font-weight: 800;
}

#addBook label{
    text-transform: capitalize;
}

#addBook .horizontal-divider {
    margin-top: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.flex-child {
    padding: 0  36px;
}


.flex-child:nth-child(3) {
    margin-top: auto;
    margin-bottom: 0;
    padding: 0;
}

#addBook input, #addBook button {
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

#addBook input {
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 10px;
}

#addBook input:active {
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

#addBook input::placeholder {
    color: #fff;
}

#read {
    width: 25px;
    height: 25px;
}

input:checked {
    background-color: #1C7178;
    color: #fff;
    text-decoration: none;
}

#addBookCover {
    border: none;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: var(--main-color);
    color: #fff;
}

#submitBook-btn {
    display: block;
    margin: 60px auto;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    /* box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25); */

}









/* old salvage what is needed, delete the rest */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

img {
    width: 600px;
}

/* form */
label, input {
    display: block;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    margin-bottom: 20px;
    height: 20px;
    width: 300px;
}



.hideElement {
    display: none;
}

/* === colors === */
/* appbackground: FEFEFE */
/* color-activeNavBtn: FFCA3C */
/* color-btnBg: FFECB4 */
/* color-finishedBook: 9CE5B0 */
/* color-pageNum: F2402E */
/* color-pages: 000000 >> 20%opacity*/